<h1>Main Page</h1>

<% if logged_in? %>
	<h4>Logged in as <%= current_user.email %></h4>
	<%= link_to "Log Out", destroy_session_path %>
<% else %>
	<%= link_to "Log In", new_session_path %>
	<%= link_to "Sign Up", new_user_path %>
<% end %>

<select id="morsel-list" class="hidden" multiple>
	<% @morsel_list.each do |morsel| %>
		<option selected="true" value="<%= morsel %>"></option>
	<% end %>
</select>