<!DOCTYPE html>
<html>
<head>
  <title>SoupDuJour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
    var baseUrl = "<%= Rails.env.production? ? 'http://soupdujour.herokuapp.com' : 'http://localhost:3000' %>";
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<header>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <div class="navbar-brand" href="/">
          <%= image_tag('logo-bowl.png') %>
        </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <%if logged_in? %>
          <li><%= "Logged in w/ " + current_user[:email] %></li>
          <li><%= link_to "Logout", destroy_session_path %></li>
          <li>
            <%= link_to edit_user_settings_path do %>
              <span>Settings</span>
              <span class="sub_icon glyphicon glyphicon-cog"></span>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_morsels_path do %>
              <span>Morsels</span>
              <span class="sub_icon glyphicon glyphicon-th"></span>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Login", new_session_path %></li>
          <li><%= link_to "Register", new_user_path %></li>
        <% end -%>  
      </ul>

    </div>
  </div>
</div>

</header>
          
<div class="grid">
  <%= yield %>
</div>

</body>
</html>
