<!DOCTYPE html>
<html>
<head>
  <title>SoupDuJour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
    var baseUrl = "<%= Rails.env.production? ? 'http://soupdujour.herokuapp.com' : 'http://localhost:3000' %>";
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
           <li class="sidebar-brand">
           	<img class="img-responsive" src="https://janetching.files.wordpress.com/2008/10/img_0159-jc.jpg">
           </li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">
	      <%if logged_in? %>
  	      <li><%= "Logged in w/ " + current_user[:email] %></li>
  	      <li><%= link_to "Logout", destroy_session_path %></li>
          <li>
            <%= link_to edit_user_settings_path do %>
              <span>Settings</span>
              <span class="sub_icon glyphicon glyphicon-cog"></span>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_morsels_path do %>
              <span>Morsels</span>
              <span class="sub_icon glyphicon glyphicon-th"></span>
            <% end %>
          </li>
	      <% else %>
  	      <li><%= link_to "Login", new_session_path %></li>
  	      <li><%= link_to "Register", new_user_path %></li>
	      <% end -%>  
          
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      
    </div>



</body>
</html>
